---
const { name, img, alt, slug } = Astro.props;
---

<a href={`/latas/${slug}`} class="product">
  <picture>
    <img
      src={img}
      alt={alt}
      loading="lazy"
    />
  </picture>

  <h2>{name}</h2>
  <p class="info">Ten una mayor sensación de colores con {name}</p>
</a>